@media screen and ( max-width: 1920px )
  .header
    &__item a
      position: relative
      transition: all 0.2s ease
    &__item a::after
      content: ''
      display: block
      position: absolute
      top: 20px
      left: 0
      width: 0
      height: 2px
      background-color: $dark-blue
      transition: all 0.3s ease
    &__item a:hover::after, &__item a:hover
      width: 100%
      color: $dark-blue
      transition: all 0.2s ease
    &__nav-button
      transition: all 0.3s ease
    &__nav-button:hover
      color: $dark-blue
      border-color: $dark-blue
      transition: all 0.3s ease
      background-color: rgba($light, 0.3)
    &__try
      transition: all 0.3s ease
    &__try:hover
      background-color: $submit
      color: $light
      transition: all 0.3s ease
      box-shadow: 0 0 5px 5px rgba($light, 0.4)
    &__buy
      transition: all 0.3s ease
    &__buy:hover
      background-color: $light
      color: $dark-blue
      transition: all 0.3s ease
      box-shadow: 0px 5px 5px 0 rgba($dark-blue, 0.15)
    &__video-btn
      transition: all 0.3s ease
    &__video-btn:hover
      transition: all 0.3s ease
      background-color: $start 
      box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15)
  .tool
    &__button
      transition: all 0.3s ease
    &__button:hover
      transition: all 0.3s ease
      background-color: $start
  .team
    &__social-item
      transition: all 0.3s ease
    &__social-item:hover
      color: $submit
      transition: all 0.3s ease
  .contacts
    &__button
      transition: all 0.3s ease
    &__button:hover
      transition: all 0.3s ease
      background-color: $start 
  .footer
    &__item a::after
      background-color: $light
    &__item a:hover
      color: $light
    &__social-item:hover 
      color: $light
      opacity: 1
@media screen and ( max-width: 1720px ) 
  .tool
    &__footer-item
      padding: 53px 90px
@media screen and ( max-width: 1660px ) 
  .container
    width: 1400px
  .tool
    &__footer-item
      padding: 53px 90px
@media screen and ( max-width: 1560px ) 
  .tool
    &__footer-item
      padding: 43px 70px
@media screen and ( max-width: 1410px ) 
  .container
    width: 1200px
  .header
    &__text
      max-width: 510px
  .tool
    &__footer-item
      padding: 38px 55px
  .slider
    &__content
      padding: 21px 30px 21px 30px;
    &__item
      margin-bottom: 40px
    &__wrapper 
      height: 436px
@media screen and ( max-width: 1366px ) 
  // body
  //   font-size: 12px
  // .tool
  //   &__footer-item
  //     padding: 31px 45px
@media screen and ( max-width: 1260px ) 
  body
    font-size: 12px
  .container
    width: 1000px
  .header
    &__title
      max-width: 350px
      font-size: 40px
    &__text
      font-size: 15px
    &__video
      max-width: 450px
      height: 260px
  .nav
    &__block
      align-items: center
  .slider
    &__content
      padding: 15px 25px
      font-size: 12px
    &__content span
      margin-bottom: 10px
    &__wrapper
      height: 346px
  .tool
    &__footer-item
      padding: 28px 30px
@media screen and ( max-width: 1100px ) 
  .container
    width: 900px
  .header
    &__title
      max-width: 350px
      font-size: 40px
    &__text
      max-width: 390px
      font-size: 15px
    &__video
      max-width: 350px
      height: 210px
  .reviews
    &__container
      flex-wrap: wrap
      justify-content: center
    &__content
      margin-bottom: 85px
  .slider
    &__content
      padding: 15px 25px
      font-size: 12px
    &__content span
      margin-bottom: 10px
    &__wrapper
      height: 255px
  .tool
    &__item
      max-width: 225px
    &__item-content
      font-size: 12px
    &__footer-item
      padding: 28px 20px
@media screen and ( max-width: 968px )
  .container
    width: 860px
  .header
    &__btn
      font-size: 12px
  .tool
    // &__footer
    //   width: 100%
    //   flex-wrap: wrap
    &__footer-container
      flex-wrap: wrap
      width: 100%
    &__footer-inner
      margin: auto
    &__footer-item
      // width: 100%
      flex-basis: 50%
      padding: 28px 0
      // padding-left: 20px 
@media screen and ( max-width: 876px )
  .container
    width: 768px
  .header
    &__nav
      align-items: center
    &__list
      padding-left: 0
    &__item
      margin-left: 30px
    &__content
      margin-bottom: 60px
    &__title, &__text
      margin: auto
      margin-bottom: 12px
      text-align: center
    &__title
      max-width: 392px
    &__text
      margin-bottom: 40px
    &__buttons
      text-align: center
    &__content-wrapper
      flex-wrap: wrap
      align-items: center
      justify-content: center
      margin-bottom: 100px
  .tool
    &__header
      max-width: 380px
    &__content
      flex-direction: column
      align-items: center
  .reviews
    &__content
      text-align: center
  .slider
    &__wrapper
      height: 300px
  .service
    &__accordion
      max-width: 600px
  .team
    &__text
      max-width: 445px
@media screen and ( max-width: 786px )
  .container
    max-width: 660px
@media screen and ( max-width: 678px )
  .container
    max-width: 540px
  .header
    &__burger
      position: relative
      display: flex
      height: 30px
      width: 40px

  .nav
    flex-wrap: wrap
    &__list
      opacity: 0
      height: 0
      visibility: hidden
      flex-direction: row
      justify-content: space-around
      border-radius: 5px
      padding: 10px 20px 
      background-color: rgba($light, 0.2)
      width: 100%
      transition: all 0.6s ease 
    &__list--active
      width: 100%
      opacity: 1
      height: 12px
      visibility: visible
      transition: all 0.6s ease 
    &__item
      margin-left: 0
      margin-bottom: 14px
    &__item:last-child
      margin-bottom: 0
    &__burger-firstLine,
    &__burger-secondLine,
    &__burger-thirdLine
      position: absolute
      top: 10px
      width: 35px
      height: 4px
      background-color: #fff
      border-radius: 5px
    &__burger-firstLine
      top: 0
    &__burger-secondLine
      top: 10px
    &__burger-thirdLine
      top: 20px    
    &__button
      display: none
  .slider
    &__wrapper
      height: 330px
    &__item
      margin-bottom: 35px
  .footer
    &__list 
      display: flex
    &__item
      margin-right: 15px
  .contacts__name-block input,
  .contacts__mail-block input
    min-width: 220px
  .footer
    &__header &__nav
      margin-top: 0
      margin-bottom: 0
@media screen and ( max-width: 576px )
  .container
    width: 365px 
  .header
    &__nav
      margin-bottom: 80px
  .tool
    &__footer-item
      flex-basis: 100%
  .contacts
    &__name-block, &__mail-block
      flex-wrap: wrap
  .contacts
    &__name-block input, &__mail-block input
      width: 100%
      min-width: 281px
  .contacts
    &__username, &__email
      margin-bottom: 20px
  .footer
    &__list
      display: none
    &__policy
      flex-wrap: wrap
      justify-content: center
    &__list-policy
      margin-bottom: 52px
      justify-content: center
  .team
    &__slider-image
      margin-right: 10px
    &__slider-image--active, .team__slider-image:hover
      border: 1px solid $light
      border: none
      box-shadow: none
  .accordion
    &__content
      flex-wrap: wrap
      justify-content: center
      max-width: 300px
      margin: auto
  .slider
    &__content p
      height: 60px
      overflow-y: auto 
      text-overflow: ellipsis
    &__wrapper
      height: 295px
    &__image
      margin-right: 15px
  .reviews
    &__content
      margin-top: 70px
  .tool
    &__header
      margin-top: 70px
  .button
    &__top
      right: 25px
  .tool
    &__button
      width: 100%
  .contacts
    &__newslatter
      flex-wrap: wrap
    &__check
      margin-bottom: 25px
    &__button
      width: 100%
    &__box
      margin-bottom: 25px
  .header
    &__btn
      width: 100%
      margin-bottom: 10px
      margin-right: 0
@media screen and ( max-width: 375px )
  .container
    width: 310px
  .header
    &__btn
      width: 100%
      margin-bottom: 10px
      margin-right: 0
    &__video-btn
      margin: 23% auto
  .nav
    &__list
      right: 35px
      top: 85px
  .contacts
    &__name-block input, &__mail-block input
      width: 100%
      min-width: 226px
  .button
    &__top
      right: 10px
  .tool
    &__button
      width: 100%
  .contacts
    &__newslatter
      flex-wrap: wrap
    &__button
      width: 100%
