.team
  &__slider
    max-width: 645px
    width: 100%
    margin: auto
  &__wrapper
    margin-bottom: 90px
  &__info 
    text-align: center
  &__name
    display: block
    margin-bottom: 20px
    font-size: 18px
    font-weight: 700
    line-height: 1.39
    color: $dark-blue
  &__text
    margin-bottom: 29px
    font-size: 15px
    font-weight: 400
    line-height: 1.67
    color: $silver
  &__social
    display: flex
    justify-content: center
    margin-bottom: 89px
  &__social a
    color: $silver
    margin-right: 25px
    font-size: 20px
  &__social a:last-child
    margin-right: 0